body {
    background-color: #4F5165;
}

a,
a:focus,
a:hover {
    color: #fff;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


html,
body {
    height: 100%;
    background-color: #4F5165;
}
body {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    /*padding-top: 200px;*/
}

h1 {
    margin-bottom: 14px;
}

.navbar-inverse, .navbar-inverse .navbar-collapse {
    border-color: #CD533B;
}

.navbar-inverse {
    background-color: #4F5165;
    border-bottom-width: 5px;
}

.navbar-brand {
    position: relative;
}

.navbar-brand .content,
.navbar-brand .tagline {
    padding-left: 80px;
}

.navbar-brand .content {
    font-size: 24px;
}

.navbar-brand .tagline {
    margin-top: 10px;
    display: block;
    opacity: 0.6;
}

.navbar-inverse .navbar-brand {
    color: inherit;
    padding-top: 44px;
}

.navbar-nav>li>a {
    padding: 60px 30px 30px 30px;
    display: block;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #CD533B;
}

#navbar .title {
    display:block;
    font-size: 24px;
}

#navbar .fa-fw {
    margin-right: 4px;
}

#navbar .description {
    display: block;
    margin-top: 12px;
}

.nav-container .inner {
    padding: 60px 0 30px 0;
}

#logo {
    background-image: url('/assets/images/logo-80.png');
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 30px;
}

.content-container:first-of-type {
    margin-top: 220px;
}

.content-container {
    margin-top: 60px;
}

.content-container:last-of-type {
    margin-bottom: 660px;
}

.content-container p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 14px;
}

.content-container p.lead {
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 24px;
}

.h-card span, .h-card a {
    display: block;
}

.h-card .fa-fw {
    margin-right: 4px;
}

.lists .list-container {
    margin-top: 40px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-inverse .navbar-brand {
        padding-top: 42px;
    }

    #logo {
        top: 12px;
    }

    .navbar-brand .tagline {
        font-size: 16px;
    }

    #navbar .description {
        display: none;
    }

    .content-container:first-of-type {
        margin-top: 160px;
    }

    .lists ul {
        padding-left: 14px;
    }
}

@media (max-width: 768px) {
    .navbar-header {
        height: 120px;
    }

    .navbar-brand .content,
    .navbar-brand .tagline,
    .navbar-brand .contact-xs {
        padding-left: 50px;
    }

    .navbar-inverse .navbar-brand {
        padding-top: 26px;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-brand .tagline,
    .navbar-brand .contact-xs{
        font-size: 16px;
    }

    .navbar-brand .contact-xs {
        display: block;
        margin-top: 10px;
        opacity: 0.6;
    }

    #logo {
        background-image: url('/assets/images/logo-40.png');
        display: inline-block;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 15px;
        top: 15px;
    }

    .content-container:first-of-type {
        margin-top: 160px;
    }

    /*.content-container {*/
        /*margin-top: 60px;*/
    /*}*/

    /*.content-container:last-of-type {*/
        /*margin-bottom: 660px;*/
    /*}*/
}