<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<span class="visible-lg" id="is-lg"></span>
<span class="visible-md" id="is-md"></span>
<span class="visible-sm" id="is-sm"></span>
<span class="visible-xs" id="is-xs"></span>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#whoweare">
                <span id="logo"></span>
                <span class="content">Ultra Things<span class="tagline hidden-sm">Awesome web software development</span></span>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#whoweare">
                        <span class="title">
                            Who we are
                        </span>
                        <span class="description">
                            We make websites and the<br>software that powers them
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#contact">
                        <span class="title">
                            Contact
                        </span>
                        <span class="description">
                            0791 431 6684<br>jon@ultrathings.com
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container content-container">
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <h1 id="whoweare">Who We Are</h1>

            <p>
                At Ultra Things we make websites and the software that powers them, everything from web front-end work
                (the pretty bits that you see) to back-end work (the powerful bits that you don't see).
            </p>

            <p>
                We carry out contract work for large projects and are available for hire directly for new projects.
            </p>

        </div>

        <div class="col-lg-10 col-md-12">
            <div class="row lists">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p>
                        We make things with:
                    </p>

                    <ul>
                        <li>
                            <p>HTML5 and CSS3</p>
                        </li>
                        <li>
                            <p>Responsive layouts</p>
                        </li>
                        <li>
                            <p>PHP</p>
                        </li>
                        <li>
                            <p>Symfony2 framework</p>
                        </li>
                        <li>
                            <p>JavaScript and JQuery</p>
                        </li>
                        <li>
                            <p>Twig and liquid templating</p>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p>
                        We're comfortable with:
                    </p>

                    <ul>
                        <li>
                            <p>Server-side JavaScript (Node)</p>
                        </li>
                        <li>
                            <p>Ruby and Ruby on Rails</p>
                        </li>
                        <li>
                            <p>Groovy and Grails</p>
                        </li>
                        <li>
                            <p>Java</p>
                        </li>
                        <li>
                            <p>Bash scripting</p>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p>
                        We power things with:
                    </p>

                    <ul>
                        <li>
                            <p>Debian-based Linux distros</p>
                        </li>
                        <li>
                            <p>Apache</p>
                        </li>
                        <li>
                            <p>Nginx</p>
                        </li>
                        <li>
                            <p>PHP-FPM</p>
                        </li>
                        <li>
                            <p>Jekyll</p>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="container content-container">
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <h1 id="contact">Contact</h1>

            <p class="h-card">
                <span class="p-name">Jon Cram</span>
                <span class="u-email" href="mailto:jon@ultrathings.com">jon@ultrathings.com</span>
                <span class="p-tel">0791 431 6684</span>
                <br>
                <span class="p-org">Ultra Things Limited</span>
                <span class="p-street-address">62A Attwood Close</span>
                <span class="p-locality">Basingstoke</span>
                <span class="p-postal-code">RG21 8YY</span>
                <span class="p-country-name">UK</span>
            </p>
        </div>
    </div>
</div>

</body>
</html>