<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#whoweare">
                <span id="logo"></span>
                <span class="content">Ultra Things: Awesome web software development</span>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#whoweare">
                        <span class="title">
                            Who we are
                        </span>
                        <span class="description">
                            We make websites and the<br>software that powers them
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#contact">
                        <span class="title">
                            Contact
                        </span>
                        <span class="description">
                            0791 431 6684<br>jon@ultrathings.com
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container content-container">
    <div class="row">
        <div class="col-lg-8">
            <h1 id="whoweare">Who We Are</h1>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </p>

            <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
            </p>

            <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </p>

            <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
            </p>

            <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </p>
        </div>
    </div>
</div>

<div class="container content-container">
    <div class="row">
        <div class="col-lg-8">
            <h1 id="contact">Contact</h1>

            <p class="h-card">
                <span class="p-name">Jon Cram</span>
                <span class="u-email" href="mailto:jon@ultrathings.com">jon@ultrathings.com</span>
                <span class="p-tel">0791 431 6684</span>
                <br>
                <span class="p-org">Ultra Things Limited</span>
                <span class="p-street-address">62A Attwood Close</span>
                <span class="p-locality">Basingstoke</span>
                <span class="p-postal-code">RG21 8YY</span>
                <span class="p-country-name">UK</span>
            </p>
        </div>
    </div>
</div>

</body>
</html>